<% if @topic.errors.any? %>
  <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @topic do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ["published", "draft"] %>
  </div>

  <div class="form-group">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :rows => 15, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>