<h2><%= @topic.title %> <small><%= @topic.author_name %></small></h2>

<p>
<% @topic.categories.each do |c| %>
  <%= c.name %>
<% end %>
</p>

<%= user_avatar(@topic.user) %>

<%= simple_format @topic.content %>

<p class="text-right"><%= @topic.created_at.to_s(:short) %>

  <% if @topic.can_delete_by?(current_user) %>
  <%= link_to "Delete", topic_path(@topic), :method => :delete, :data => { :confirm => "Are you sure?"} %>
  <% end %>

</p>

<p><a href="#" id="comment-btn" class="btn btn-primary">Reply</a></p>

<div id="comment-form">

<%= form_for [@topic, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, :rows => 5, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>

</div>

<hr>

<% @topic.comments.each do |comment| %>

<% next if comment.new_record? %>

<div class="media" id="comment-<%= comment.id %>">
  <div class="media-left">
    <a href="#">
      <% if comment.user %>
        <%= user_avatar comment.user %>
      <% end %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.author_name %></h4>
    <%= simple_format comment.content %>
    <p class="text-right">
      <%= comment.created_at.to_s(:short) %>

      <% if comment.can_delete_by?(current_user) %>
      <%= link_to "Delete", topic_comment_path(@topic, comment), :method => :delete, :data => { :confirm => "Are you sure?"} %>
      <% end %>

    </p>
  </div>
</div>

<% end %>

<script>
  var comment_form = $("#comment-form")

  <% unless @comment.errors.any? %>
    comment_form.hide();
  <% end %>

  $("#comment-btn").click(function(){
    comment_form.slideToggle();
  })

  var hash = window.location.hash.substring(1);

  if (hash) {
    $("#" + hash).css( { "background-color": "#eee" } );
  }

</script>