<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=132152913528721";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h2><%= @topic.title %> <small><%= @topic.author_name %></small></h2>

<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<p>
<% @topic.categories.each do |c| %>
  <%= c.name %>
<% end %>
</p>

<%= user_avatar(@topic.user) %>

<%= simple_format @topic.content %>

<p class="text-right"><%= @topic.created_at.to_s(:short) %>

  <% if @topic.can_delete_by?(current_user) %>
  <%= link_to "Delete", topic_path(@topic), :method => :delete, :data => { :confirm => "Are you sure?"} %>
  <% end %>

</p>

<p><a href="#" id="comment-btn" class="btn btn-primary">Reply</a></p>

<div id="comment-form">

<%= form_for [@topic, @comment], :remote => true, :data => { :type => :json } do |f| %>

  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, :rows => 5, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>

</div>

<hr>

<div id="comments">
  <% @topic.comments.each do |comment| %>

  <% next if comment.new_record? %>

  <%= render "comments/comment", :comment => comment %>

  <% end %>

</div>

<script>
  var comment_form = $("#comment-form")

  <% unless @comment.errors.any? %>
    comment_form.hide();
  <% end %>

  $("#comment-btn").click(function(){
    comment_form.slideToggle();
  })

  var hash = window.location.hash.substring(1);

  if (hash) {
    $("#" + hash).css( { "background-color": "#eee" } );
  }

  $('#comment-form form').on("ajax:success", function(event, data) {
    console.log(data);

    $("#comments").append( JST["templates/comment"]({ comment: data }) );
  });

</script>